<form action="/peeps" method="post">
  <textarea name="message" rows="5" cols="50" placeholder="What is on your mind?"></textarea><br><br>
  <button class="btn">Post peep!</button>
</form>
<a href="/peeps">
<button class="btn">Go back to peeps!</button>
</a>