<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep %></li>
  <% end %>
</ul>
<a href="/">
<button class="btn">Go back!</button>
</a><br><br>
<a href="/peeps/new">
<button class="btn">Create peep</button>
</a>