<h2>Peeps list:</h2>
<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.time%><br><%= peep.message%></li><br>
  <% end %>
</ul>
<div>
  <a href="/">
  <button class="btn">Go back!</button>
  </a>
  <br><br>
  <a href="/peeps/new">
  <button class="btn">Create peep</button>
  </a>
</div>